#!/usr/bin/env python
"""settings for udp_forwarder.py
"""

# list of ports to listen react upon
ports = [ 8888 ]

# broadcast address that triggers the forwarding
olddest = "10.0.2.255"

# list of new destinations for the modified packet
# IP-addresses only ATM
newdest = [ "127.0.0.10" ]

# show the original and modified packet?
showpacks = True

# listen on which network interface?
iface = "em0"
